<!--The content below is only a placeholder and can be replaced.-->
<body>
    <div class="grid-container">
       <div class="item1">
         <img width="300" src="../assets/img/logo_black.png">
          <h1>
             Welcome to {{ title }}!
          </h1>
          <h2>Shayan Shamskolahi</h2>
          <h2>February 24, 2019</h2>
       </div>
       <div class="item2">
          <h2>
              {{nameForm}}
           </h2>
          <app-name-editor></app-name-editor>
       </div>
       <div class="item3">Kennesaw State University</div>
    </div>
 </body>
