<div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>expand_more</mat-icon>
      <span>Menu</span>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink = "/listUsers" >
        <span>List Users</span>
      </button>
      <button mat-menu-item routerLink = "/addUser" >
        <span>Add a New User</span>
      </button>
      <button mat-menu-item routerLink = "/listClubs" >
        <span>List Clubs</span>
      </button>
      <button mat-menu-item routerLink = "/addClub" >
        <span>Add a New Club</span>
      </button>

    <button mat-menu-item routerLink="/addcomment">
    <span>Submit Comments</span>
    </button>
    <button mat-menu-item  routerLink="/view">
    <span>View Comments</span>
    </button>
    <button mat-menu-item routerLink = "/listEvent" >
      <span>View Events</span>
    </button>
    <button mat-menu-item routerLink = "/addEvent" >
      <span>Add Event</span>
    </button>

    </mat-menu>
    </div>
